NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCLDXtHTC9pe62Zw7PZWTRaD9pesE_s9EI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=subh-dashboard.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=subh-dashboard
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=subh-dashboard.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=874116886420
NEXT_PUBLIC_FIREBASE_APP_ID=1:874116886420:web:500feef3278c866260e981
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-ESTJE9HGQ6

# Razorpay Configuration
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TDNVtanaRSjwOD
RAZORPAY_KEY_ID=rzp_test_TDNVtanaRSjwOD
RAZORPAY_KEY_SECRET=***********************
RAZORPAY_WEBHOOK_SECRET=atharv@09

